{{ define "DETAIL" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Blog - Go</title>
    <style>
        body {
            position: relative;
            height: 100vh;
        }
        .container {
            margin-top: 5rem;
        }
        h3 {
            font-weight: bold;
            /* margin-bottom: 2rem; */
        }
        .navbar {
            background-color: #ffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            /* margin-bottom: .5rem; */
        }
        
        .brand {
            color: #41939e;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h3 class="brand">.BlogGo</h3>
            
        </div>
    </nav>

    <div class="container">
        <h3>{{ .Title }}</h3>
        <p>{{ .Content }}</p>
    </div>
</body>

</html>
{{ end }}