{{ define "EDIT" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Blog - Go</title>
    <style>
        body {
            position: relative;
            height: 100vh;
        }

        .btn {
            float: right;
            text-align: center;
            transition: .3s;
            padding: .4rem 1.3rem;
            border: none;
            border-radius: 30px;
            text-decoration: none;
            color: #ffff;
        }

        .btn-logout, .btn-update {
            float: right;
            background-color: #41939e;
        }

        .btn-logout:hover, .btn-update:hover{
            background: lightgray;
            border-color: #000000;
            color: #000000;
        }

        .navbar {
            background-color: #ffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            /* margin-bottom: .5rem; */
        }
        .form {
            margin-top: 1rem;
        }
        .brand{
            color: #41939e;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <h3 class="brand">.BlogGo</h3>
            <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav">
                    <div class="d-flex flex-row-reverse">
                        <li class="nav-item ">
                            <a class="btn btn-primary btn-sm btn-logout" href="/logout" role="button">Sign Out</a>
                        </li>
                    </div>
                </ul>

            </div>

        </div>
    </nav>
    <div class="container-xl">
        <div class="d-flex align-items-center h-100">
            <form class="form "method="POST" action="/updatePost">
                <input type="hidden" name="id" value="{{ .ID }}" />
                <div class="row mb-3">
                    <label for="title" class="col-form-label">Title</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="title" name="title" value="{{ .Title}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-form-label">Content</label>
                    <div class="col-sm-7">
                        <textarea name="content" id="content" cols="160" rows="14">{{ .Content }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-update mb-5">Update</button>

            </form>
        </div>
    </div>

</body>

</html>
{{ end }}