Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Aurellesia 
Aurellesia
/
blogGo
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
blogGo/views/Home.html
@Aurellesia
Aurellesia FE
Latest commit 368a874 4 days ago
 History
 1 contributor
137 lines (117 sloc)  4.02 KB
  
{{ define "HOME" }}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Blog - Go</title>

    <style>
        .btn {
            text-align: center;
            transition: .3s;
            padding: .4rem 1.3rem;
            border: none;
            border-radius: 30px;
            text-decoration: none;
            color: #ffff;
        }
        .btn-logout {
            float: right;
            background-color: #41939e;
            
        }

        .btn-logout:hover {
            background: lightgray;
            border-color: #000000;
            color: #000000;
        }

        div.scroll {
            margin-top: 20px;
            height: 475px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .btn-post {
            margin-right: .5rem;
        }

        .btn-post:hover {
            background: lightgray;
            border-color: #000000;
            color: #000000;

        }

        .navbar {
            background-color: #ffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            margin-bottom: .5rem;
        }

        .brand {
            color: #41939e;
        }

        .title {
            text-decoration: none;
            color: black;
        }
        th {
            position: sticky;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <h3 class="brand">.BlogGo</h3>
            <div class="collapse navbar-collapse  d-flex flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav">
                    <div class="d-flex flex-row-reverse">
                        <li class="nav-item ">
                            <a class="btn btn-primary btn-sm btn-logout" href="/" role="button">Sign Out</a>
                        </li>
                        <li>
                            <a class="btn btn-secondary btn-sm btn-post" href="/createPost">Add Post</a>
                        </li>
                        <li>
                            <a class="btn btn-secondary btn-sm btn-post" href="/profile">Profile</a>
                        </li>
                    </div>
                </ul>

            </div>

        </div>
    </nav>
    <div class="container-lg">
        
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Judul</th>
                        <th scope="col">Waktu Post</th>
                        <th scope="col">Author</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .}}
                    <tr>
                        <td><a class="title" href="/detailPost?id={{ .ID }}">{{.Title}}</a></td>
                        <td>{{.Date}}</td>
                        <td>{{.Author}}</td>
                        <td>
                            <a class="btn btn-warning" href="/editPost?id={{ .ID }}">Update</a>
                            <a class="btn btn-danger" href="/deletePost?id={{ .ID }}">Delete</a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>
{{ end }}