{{ define "LANDING" }}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Blog - Go</title>

    <style>
        .btn {
            text-align: center;
            transition: .3s;
            padding: .4rem 1.3rem;
            border-color: #000;
            border-radius: 30px;
            text-decoration: none;
            color: #ffff;
        }
        .btn-login {
            float: right;
            background-color: #41939e;
            border: none;
        }

        .btn:hover {
            background: lightgray;
            color: #000000;
        }

        .title {
            text-decoration: none;
        }

        .card-2 {
            margin-top: 2rem;
        }

        .article-text {
            line-height: 1.2em;
            height: 3.6em;
            overflow: hidden;
        }
        .brand {
            color: #41939e;
        }
        .navbar {
            background-color: #ffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            margin-bottom: .5rem;
        }
        .btn-read{
            background-color: #41939e;
            border: none;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h3 class="brand">.BlogGo</h3>
            <div class="collapse navbar-collapse  d-flex flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav">
                    <div class="d-flex flex-row-reverse">
                        <li class="nav-item ">
                            <a class="btn btn-primary btn-login" href="/login" role="button">Sign In</a>
                        </li>
                    </div>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-lg">
        {{ range . }}
        <div class="card card-2">
            <div class="card-header">
                <h4>{{.Title}}</h4>
            </div>
            <div class="card-body">
                <h6 class="card-title"><i>By : {{ .Author }}</i></h6>
                <p class="card-text article-text">{{ .Content }}</p>
                <a href="/detailPost?id={{ .ID }}" class="btn btn-read">Baca selengkapnya</a>
            </div>
        </div>

        {{ end }}

    </div>

</body>

</html>
{{ end }}