{{ define "PROFILE" }}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Blog - Go</title>

    <style>
        .btn {
            text-align: center;
            transition: .3s;
            padding: .4rem 1.3rem;
            border: none;
            border-radius: 30px;
            text-decoration: none;
            color: #ffff;
        }
        .btn-logout {
            float: right;
            background-color: #41939e;
            
        }

        .btn-logout:hover {
            background: lightgray;
            border-color: #000000;
            color: #000000;
        }

        div.scroll {
            margin-top: 20px;
            height: 475px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .btn-post {
            margin-right: .5rem;
        }

        .btn-post:hover {
            background: lightgray;
            border-color: #000000;
            color: #000000;

        }

        .navbar {
            background-color: #ffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            margin-bottom: .5rem;
        }

        .brand {
            color: #41939e;
        }

        .title {
            text-decoration: none;
            color: black;
        }
        th {
            position: sticky;
        }
        img{
            width: 200px;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <h3 class="brand">.BlogGo</h3>
            <div class="collapse navbar-collapse  d-flex flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav">
                    <div class="d-flex flex-row-reverse">
                        <li class="nav-item ">
                            <a class="btn btn-primary btn-sm btn-logout" href="/" role="button">Sign Out</a>
                        </li>
                        <li>
                            <a class="btn btn-secondary btn-sm btn-post" href="/createPost">Add Post</a>
                        </li>
                    </div>
                </ul>

            </div>

        </div>
    </nav>
    <div class="container-lg">
        <div>

            <label for="picture">Profile Picture</label><br>
            <img src='{{.Picture}}' alt="profilePicture"/><br>
            <a class="btn btn-secondary btn-sm btn-post" href="/changePicture">Change Picture</a>

            <h3>ACCOUNT</h3>
            <label for="username">Username : </label><br>
            <p>{{.Username}}</p>
            <label for="email">Email : </label><br>
            <p>{{.Email}}</p>

            <h3>PROFILE</h3>
            <label for="firstname">Firstname : </label><br>
            <p>{{.FirstName}}</p>
            <label for="lastname">Lastname : </label>
            <p>{{.LastName}}</p>
            <label for="gender">Gender : </label><br>
            <p>{{.Gender}}</p>
            <label for="phone">Phone : </label><br>
            <p>{{.Phone}}</p>
            <label for="address">Address : </label><br>
            <p>{{.Address}}</p>
            <label for="site">Site : </label><br>
            <p>{{.Site}}</p>
            <label for="job">Job : </label><br>
            <p>{{.Job}}</p>
            <label for="education">Education : </label><br>
            <p>{{.Education}}</p>
            <label for="workplace">Workplace : </label><br>
            <p>{{.Workplace}}</p>
            
            <a class="btn btn-secondary btn-sm btn-post" href="/editProfile">Edit Profile</a>
            
        </div>

    </div>

</body>

</html>
{{ end }}